<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Contenu spécifique pour chaque template #}
    <title>{% block title %} Page parent {% endblock %}</title>
</head>
<body>
    {# Contenu partagé par tous les templates #}
    <nav>
        <a href="{{ url_for('common.hello_world') }}">Home</a>
        <a href="{{ url_for('common.contact') }}">Contact</a>
        <a href="{{ url_for('common.about', name='Flask') }}">About</a>
        <a href="{{ url_for('users.list_users') }}">Utilisateurs</a>
    </nav>

    {# Contenu spécifique pour chaque template #}
    {% block content %}

    {% endblock %}
</body>
</html>